<div class="row">
  <select class="form-control col-md-2">
    <option>JUN2018</option>
  </select>
  <div class="col-md-10" style="text-align:right; padding-right:30px" >
    <button class="btn btn-primary" (click)="open(content)"> Compare Data</button>
    <a class="btn btn-success">Validate</a>
  </div>
</div>
<br/>
<div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>
                    User Name
                  </th>
                  <th>
                    Display Name
                  </th>
                  <th>
                    User Group
                  </th>
                  <th>
                    User Status
                  </th>
                  <th>
                    Market
                  </th>
                  <th>
                    Product Group
                  </th>
                  <th>
                    Allowed
                  </th>
                  <th>
                    Last Changed
                  </th>
                  <th>
                    Created Date
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    UU0234
                  </td>
                  <td>
                    Ureka U
                  </td>

                  <td>
                    DV Trading
                  </td>
                  <td>
                    Active
                  </td>
                  <td>
                    CME
                  </td>
                  <td>
                    BMD
                  </td>
                  <td>
                    TRUE
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                </tr>
                <tr>
                  <td>
                    UU0234
                  </td>
                  <td>
                    Ureka Universe
                  </td>

                  <td>
                    DV Trading
                  </td>
                  <td>
                    Active
                  </td>
                  <td>
                    CME
                  </td>
                  <td>
                    BMD
                  </td>
                  <td>
                    TRUE
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                </tr>
                <tr>
                  <td>
                    UU0234
                  </td>
                  <td>
                    Ureka Universe
                  </td>

                  <td>
                    DV Trading
                  </td>
                  <td>
                    Active
                  </td>
                  <td>
                    CME
                  </td>
                  <td>
                    BMD
                  </td>
                  <td>
                    TRUE
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                </tr>
                <tr>
                  <td>
                    UU0234
                  </td>
                  <td>
                    Ureka Universe
                  </td>

                  <td>
                    DV Trading
                  </td>
                  <td>
                    Active
                  </td>
                  <td>
                    CME
                  </td>
                  <td>
                    BMD
                  </td>
                  <td>
                    TRUE
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                </tr>
                <tr>
                  <td>
                    UU0234
                  </td>
                  <td>
                    Ureka Universe
                  </td>

                  <td>
                    DV Trading
                  </td>
                  <td>
                    Active
                  </td>
                  <td>
                    CME
                  </td>
                  <td>
                    BMD
                  </td>
                  <td>
                    TRUE
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                </tr>
                <tr>
                  <td>
                    UU0234
                  </td>
                  <td>
                    Ureka Universe
                  </td>

                  <td>
                    DV Trading
                  </td>
                  <td>
                    Active
                  </td>
                  <td>
                    CME
                  </td>
                  <td>
                    BMD
                  </td>
                  <td>
                    TRUE
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                </tr>
                <tr>
                  <td>
                    UU0234
                  </td>
                  <td>
                    Ureka Universe
                  </td>

                  <td>
                    DV Trading
                  </td>
                  <td>
                    Active
                  </td>
                  <td>
                    CME
                  </td>
                  <td>
                    BMD
                  </td>
                  <td>
                    TRUE
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                </tr>
                <tr>
                  <td>
                    UU0234
                  </td>
                  <td>
                    Ureka Universe
                  </td>

                  <td>
                    DV Trading
                  </td>
                  <td>
                    Active
                  </td>
                  <td>
                    CME
                  </td>
                  <td>
                    BMD
                  </td>
                  <td>
                    TRUE
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                </tr>
                <tr>
                  <td>
                    UU0234
                  </td>
                  <td>
                    Ureka Universe
                  </td>

                  <td>
                    DV Trading
                  </td>
                  <td>
                    Active
                  </td>
                  <td>
                    CME
                  </td>
                  <td>
                    BMD
                  </td>
                  <td>
                    TRUE
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                </tr>
                <tr>
                  <td>
                    UU0234
                  </td>
                  <td>
                    Ureka Universe
                  </td>

                  <td>
                    DV Trading
                  </td>
                  <td>
                    Active
                  </td>
                  <td>
                    CME
                  </td>
                  <td>
                    BMD
                  </td>
                  <td>
                    TRUE
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                </tr>
                <tr>
                  <td>
                    UU0234
                  </td>
                  <td>
                    Ureka Universe
                  </td>

                  <td>
                    DV Trading
                  </td>
                  <td>
                    Active
                  </td>
                  <td>
                    CME
                  </td>
                  <td>
                    BMD
                  </td>
                  <td>
                    TRUE
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                </tr>
                <tr>
                  <td>
                    UU0234
                  </td>
                  <td>
                    Ureka Universe
                  </td>

                  <td>
                    DV Trading
                  </td>
                  <td>
                    Active
                  </td>
                  <td>
                    CME
                  </td>
                  <td>
                    BMD
                  </td>
                  <td>
                    TRUE
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                </tr>
                <tr>
                  <td>
                    UU0234
                  </td>
                  <td>
                    Ureka Universe
                  </td>

                  <td>
                    DV Trading
                  </td>
                  <td>
                    Active
                  </td>
                  <td>
                    CME
                  </td>
                  <td>
                    BMD
                  </td>
                  <td>
                    TRUE
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                </tr>
                <tr>
                  <td>
                    UU0234
                  </td>
                  <td>
                    Ureka Universe
                  </td>

                  <td>
                    DV Trading
                  </td>
                  <td>
                    Active
                  </td>
                  <td>
                    CME
                  </td>
                  <td>
                    BMD
                  </td>
                  <td>
                    TRUE
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                </tr>
                <tr>
                  <td>
                    UU0234
                  </td>
                  <td>
                    Ureka Universe
                  </td>

                  <td>
                    DV Trading
                  </td>
                  <td>
                    Active
                  </td>
                  <td>
                    CME
                  </td>
                  <td>
                    BMD
                  </td>
                  <td>
                    TRUE
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                </tr>
                <tr>
                  <td>
                    UU0234
                  </td>
                  <td>
                    Ureka Universe
                  </td>

                  <td>
                    DV Trading
                  </td>
                  <td>
                    Active
                  </td>
                  <td>
                    CME
                  </td>
                  <td>
                    BMD
                  </td>
                  <td>
                    TRUE
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                </tr>
                <tr>
                  <td>
                    UU0234
                  </td>
                  <td>
                    Ureka Universe
                  </td>

                  <td>
                    DV Trading
                  </td>
                  <td>
                    Active
                  </td>
                  <td>
                    CME
                  </td>
                  <td>
                    BMD
                  </td>
                  <td>
                    TRUE
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                  <td>
                    5/29/2018 10:32:00 AM
                  </td>
                </tr>


              </tbody>
            </table>
          </div>


<!-- <div class="col-lg-12">
  <div class="card">

    <div class="card-block">
      <form>
        <div class="form-group">
          <label for="exampleSelect2">Select Configuration</label>
          <select class="form-control" id="exampleSelect2">
            <option>TT_MarketPermission</option>

          </select>
        </div>

        <div class="form-group">
          <label for="exampleInputFile">File input</label>
          <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
          </div>


        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
    </div>
  </div>
</div> -->
<ng-template ngbModalContainer></ng-template>
<!-- History Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Previous Months Data</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <ngx-charts-bar-vertical
                    class="chart-container"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="single"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [tooltipDisabled]="tooltipDisabled"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [showGridLines]="showGridLines"
                    [barPadding]="barPadding"
                    [roundDomains]="roundDomains"
                    (select)="select($event)"
                    (legendLabelClick)="onLegendLabelClick($event)">
                  </ngx-charts-bar-vertical>
      </div>
  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
